<% @page_title = 'サインアップ' %>

<h1 class="uk-h1 uk-text-center">サインアップ</h1>

<div class="uk-width-medium uk-padding-small">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "uk-form-stacked" }) do |f| %>
    <fieldset class="uk-fieldset">
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="uk-margin-small">
        <%= f.text_field :username, autocomplete: "username", autofocus: true, placeholder: "ユーザーネーム", class: "uk-input uk-border-pill" %>
      </div>

      <div class="uk-margin-small">
        <%= f.email_field :email, autocomplete: "email", placeholder: "メールアドレス", class: "uk-input uk-border-pill" %>
      </div>

      <div class="uk-margin-small">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", class: "uk-input uk-border-pill" %>
        <% if @minimum_password_length %>
        <em class="uk-text-small">（<%= @minimum_password_length %>文字以上）</em>
        <% end %>
      </div>

      <div class="uk-margin-small">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード確認", class: "uk-input uk-border-pill" %>
      </div>

      <div class="uk-margin-bottom">
        <%= f.submit "登録する", class: "uk-button uk-button-primary uk-border-pill uk-width-1-1" %>
      </div>
    </fieldset>
  <% end %>
  <p class="uk-text-small uk-text-center uk-margin-remove-top">
    <%= render "devise/shared/links" %>
  </p>
</div>