<% @page_title = @group.name %>

<div class="uk-width-large@m uk-width-medium@s uk-align-center">

  <h1 class="uk-h1 uk-text-center"><%= @group.name %></h1>
  <%= link_to '新規投稿', new_group_post_path(@group), class: "uk-button uk-button-primary uk-width-medium uk-align-center uk-border-pill uk-margin-small-bottom" %>

  <ul class="uk-child-width-expand uk-flex-center" uk-tab>
    <li><a href="#">グループ詳細</a></li>
    <li><a href="#">メンバー</a></li>
    <li><a href="#">立て替え投稿</a></li>
  </ul>
  
  <ul class="uk-switcher uk-margin">
    <li class="uk-text-center">
      <p class="uk-margin-remove-bottom">合計金額： <%= sum_total_price(params[:id]) %>円</p>
      <p class="uk-margin-remove-bottom uk-margin-small-top">1人あたりの金額：<%= equally(params[:id]) %>円</p>
      <p class="uk-margin-remove-bottom uk-margin-small-top">グループ説明：<%= @group.description %></p>
      <p class="uk-margin-remove-bottom uk-margin-small-top">オーナーID：<%= @group.owner %></p>
      <div class="uk-margin-small-top">
        <%= link_to '編集', edit_group_path, class: "uk-button uk-button-default uk-border-pill" %>
        <%= link_to '削除', group_path, method: :delete,class: "uk-button uk-button-danger uk-border-pill" %>
      </div>
    </li>
    <li>
      <ul class="uk-list uk-list-divider">
        <% @group.users.each do |user| %>
          <li>
            <%= link_to user.username, page_path(user.id) %>
          </li>
        <% end %>
      </ul>
    </li>
    <li>
      <% if @posts.present? %>
        <% @posts.each do |post| %>
          <div class="uk-card uk-card-small uk-card-default uk-card-body uk-margin-small-bottom">
            <p class="uk-margin-remove-bottom">title: <%= link_to post.title, group_post_path(@group.id, post.id) %></p>
            <p class="uk-margin-remove-bottom uk-margin-small-top">memo: <%= post.description %></p>
            <p class="uk-margin-remove-bottom uk-margin-small-top">total price: <%= post.total_price %>円</p>
            <p class="uk-margin-remove-bottom uk-margin-small-top">created at: <%= post.created_at %></p>
          </div>
        <% end %>
      <% else %>
        <p class="uk-text-center uk-text-meta">投稿はありません</p>
      <% end %>
    </li>
  </ul>
</div>