<h1>Groups#show</h1>
<p>グループ名：<%= @group.name %></p>
<p>グループ説明：<%= @group.description %></p>
<p>オーナーID：<%= @group.owner %></p>
<p>▼グループメンバー</p>
<% @group.users.each do |user| %>
  <p>----------------</p>
  <p>ID:<%= user.id %><br>name:<%= user.username %></p>
<% end %>
<%= link_to '編集', edit_group_path %>
<%= link_to '削除', group_path, method: :delete %>