<h1>Groups#show</h1>
<h2>グループ名：<%= @group.name %></h2>
<h2>グループ説明：<%= @group.description %></h2>
<h2>オーナーID：<%= @group.owner %></h2>
<h2>グループメンバーID：<br>
  <% @group.users.each do |user| %>
    <p><%= user.id %></p>
    <p><%= user.username %></p>
  <% end %>
</h2>