<div class="uk-container uk-container-expand uk-background-muted" uk-sticky>
  <nav class="uk-navbar uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"><%= link_to 'PayTemporarily', root_path, class: "uk-navbar-item uk-logo" %></li>
      </ul>
    </div>



    <div class="uk-navbar-right">

      <a class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: #offcanvas-nav" href=""></a>

      <div id="offcanvas-nav" uk-offcanvas="flip: true">
        <div class="uk-offcanvas-bar">
          <a href="" class="uk-modal-close-default" uk-close></a>
          <ul class="uk-nav uk-nav-default uk-nav-parent-icon" uk-nav>
            <% if user_signed_in? %>
              <li class="uk-parent">
                <a href=""><%= current_user.username %></a>
                <ul class="uk-nav-sub">
                  <li><%= link_to '詳細', root_path %></li>
                  <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
                  <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
              <li><%= link_to 'グループ作成', new_group_path %></li>
              <li class="uk-parent">
                <a href="">フレンド</a>
                <ul class="uk-nav-sub">
                  <li><%= link_to 'フレンド一覧', page_friendships_path(current_user.id) %></li>
                  <li><%= link_to 'リクエスト中', requestings_page_path(current_user.id) %></li>
                  <li><%= link_to 'リクエスト', requests_page_path(current_user.id) %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to 'サインアップ', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>

        </div>
      </div>
    </div>

  </nav>
</div>