<% @page_title = current_user.username %>
<h1>こんにちは、<%= current_user.username %>さん</h1>
<p>▼グループ一覧</p>
<% @groups.each do |group| %>
  <P><%= link_to group.name, group_path(group) %></P>
<% end %>
<hr>
<p><%=link_to "フレンド一覧",  page_friendships_path(current_user.id) %></p>
<p><%=link_to "フレンド申請中一覧",  requestings_page_path(current_user.id) %></p>
<p><%=link_to "申請されているリクエスト一覧", requests_page_path(current_user.id) %></p>