<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title><%= page_title %></title>
  <meta name="description" content="立て替えを管理するアプリです。" />

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/css/uikit.min.css" />
  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.1/dist/js/uikit-icons.min.js"></script>

  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
</head>

<body>

  <%= render "shared/nav" %>
  <%= render "shared/flash" %>
  <div class="uk-flex uk-flex-center">
    <div class="uk-section uk-section-defaut">
      <div class="uk-container uk-container-xsmall">
        <%= yield %>
      </div>
    </div>
  </div>
</body>

</html>